.searchBarContainer {
    display: flex;
    justify-content: center;

  input {
    width: 100%;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: var(--lavender-wash) 2px solid;
    background-color: var(--lavender-wash);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    margin: 0;
    color: var(--dark-gray);
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
      border: var(--alert-purple) 2px solid;
    }
  }

  button {
    background-color: var(--lavender);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
    color: var(--prussian-blue);
    width: 4rem;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    &:active {
      opacity: .66;
    }
  }

  .icon {
    font-size: 1.25rem;
  }
}