
.exerciseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 3rem;
  padding: 2rem;
  background-color: #c2b2a5;
  border-radius: 12px;
  color: #07354b;
  font-family: "Bitter", serif;
  font-weight: 500;

  h2 {
    font-family: "Bitter", sans-serif;
    color: #fffaf6;
    font-size: 2rem;
    font-variant: all-small-caps;
    font-weight: bold;
    margin: 0;
  }

  .headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contentBlock {
    margin: 1rem 0;
  }
}